In [1]:
import pandas as pd
hotpotqa=pd.read_csv("D:/FALL_2020/CSE576 NLP/Course_Project/Phase_2_Synthetic_Data/combined_dataset_group/HotpotQA.csv")
msmarco=pd.read_csv("D:/FALL_2020/CSE576 NLP/Course_Project/Phase_2_Synthetic_Data/combined_dataset_group/MSMARCO.csv")
openbookqa=pd.read_csv("D:/FALL_2020/CSE576 NLP/Course_Project/Phase_2_Synthetic_Data/combined_dataset_group/openBook_QA.csv")
qasc=pd.read_excel("D:/FALL_2020/CSE576 NLP/Course_Project/Phase_2_Synthetic_Data/combined_dataset_group/QASC_Dataset_with_SIA_score.xlsx")
wikipassageqa=pd.read_json("D:/FALL_2020/CSE576 NLP/Course_Project/Phase_2_Synthetic_Data/combined_dataset_group/wikipassageqa.json")

In [232]:
wikipassageqa=wikipassageqa.T

In [233]:
wikipassageqa.head()

,sentence,Question,sia_score
0,"Conversionism, or belief in the necessity of b...",What is the role of conversionism in Evangelic...,3.46572
1,"Evangelicalism , Evangelical Christianity, or ...",What is the role of conversionism in Evangelic...,2.99279
2,"In New Jersey, Gilbert Tennent, another Presby...",What is the role of conversionism in Evangelic...,2.60734
3,Evangelicals are Christians who believe in the...,What is the role of conversionism in Evangelic...,2.93423
4,He goes on: Whereas the Puritans had held tha...,What is the role of conversionism in Evangelic...,2.50662

# QASC

In [92]:
for i in range(len(qasc['sia_score'])):
    if(qasc['sia_score'][i]<=0.3):
        qasc['sia_score'][i]=0
is_4 =  qasc['sia_score'] == 4
is_3_4 =  (qasc['sia_score']>=3)  & (qasc['sia_score']<=3.9)
is_2_3 =  (qasc['sia_score']>=2)  & (qasc['sia_score']<=2.9)
is_1_2 =  (qasc['sia_score']>=1)  & (qasc['sia_score']<=1.9)
is_0_1 =  (qasc['sia_score']>0)  & (qasc['sia_score']<=0.9)
is_0 =  qasc['sia_score'] == 0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [137]:
qasc_new=qasc[is_0]

In [138]:
qasc_new

,question,sentence,sia_score
15,Where do beads of water come from?,An underground system is planned.,0.0
20,Where do beads of water come from?,Mountain peaks rise.,0.0
36,what kind of beads are formed from vapor conde...,And a neutron star is tiny tiny tiny.,0.0
41,what kind of beads are formed from vapor conde...,Rain is rain.,0.0
48,what kind of beads are formed by their vapor c...,Rain is rain.,0.0
...,...,...,...
99602,Cleaning the blood with an artificial kidney c...,Thems is the breaks.,0.0
99635,What are the consequences of not getting dialy...,Weights are mature weights.,0.0
99637,What are the consequences of not getting dialy...,"Cold winds, cold words, coldness brings lighte...",0.0
99641,Kidney failure may be treated by cleaning the ...,Lives are saved.,0.0
99647,Kidney failure may be treated by cleaning the ...,Thems is the breaks.,0.0

In [139]:
final_dataframe=final_dataframe.append(qasc_new.sample(n=1600),ignore_index = True)

# wikipassageQA

In [219]:
wikipassageqa.columns

Index(['sentence', 'Question', 'sia_score'], dtype='object')

In [234]:
temp_dataframe=wikipassageqa.sample(n=3000)

In [242]:
temp_dataframe_2=qasc.sample(n=3000)

TypeError: sample() got an unexpected keyword argument 'index'

In [248]:
temp_dataframe['sentence']=list(temp_dataframe_2['sentence'])

In [251]:
temp_dataframe['sia_score']=0

In [252]:
temp_dataframe.head()

,sentence,Question,sia_score
6479,Infancy is the period of most rapid growth aft...,How has the U.S. been influenced by French peo...,0
20166,hydropower requires damming a river,How does christin communism effect communism?,0
48919,Winter is the coldest season.,How does the influence of a regional power dif...,0
31443,An acid is defined as a compound which can don...,How was the Napoleonic war financed?,0
16453,"Chemically, oxygen is oxygen.",How does an agreement to form a federation oft...,0

In [254]:
wikipassageqa=wikipassageqa.append(temp_dataframe)
is_4 =  wikipassageqa['sia_score'] == 4
is_3_4 =  (wikipassageqa['sia_score']>=3)  & (wikipassageqa['sia_score']<=3.9)
is_2_3 =  (wikipassageqa['sia_score']>=2)  & (wikipassageqa['sia_score']<=2.9)
is_1_2 =  (wikipassageqa['sia_score']>=1)  & (wikipassageqa['sia_score']<=1.9)
is_0_1 =  (wikipassageqa['sia_score']>0)  & (wikipassageqa['sia_score']<=0.9)
is_0 =  wikipassageqa['sia_score'] == 0

In [290]:
wikipassageqa_new=wikipassageqa[is_4]

In [291]:
len(wikipassageqa_new)

6855

# OPENBOOK QA

In [315]:
for i in range(len(openbookqa['sia_score'])):
    if(openbookqa['sia_score'][i]<=0.3):
        openbookqa['sia_score'][i]=0
is_4 = openbookqa['sia_score'] == 4
is_3_4 =  (openbookqa['sia_score']>=3)  & (openbookqa['sia_score']<=3.9)
is_2_3 =  (openbookqa['sia_score']>=2)  & (openbookqa['sia_score']<=2.9)
is_1_2 =  (openbookqa['sia_score']>=1)  & (openbookqa['sia_score']<=1.9)
is_0_1 =  (openbookqa['sia_score']>0)  & (openbookqa['sia_score']<=0.9)
is_0 =  openbookqa['sia_score'] == 0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [347]:
openbookqa_new=openbookqa[is_0]

In [348]:
len(openbookqa_new)

9937

In [349]:
final_dataframe=final_dataframe.append(openbookqa_new.sample(n=1552),ignore_index = True)

# MSMARCO

In [395]:
is_4 = msmarco['sia_score'] == 4
is_3_4 =  (msmarco['sia_score']>=3)  & (msmarco['sia_score']<=3.9)
is_2_3 =  (msmarco['sia_score']>=2)  & (msmarco['sia_score']<=2.9)
is_1_2 =  (msmarco['sia_score']>=1)  & (msmarco['sia_score']<=1.9)
is_0_1 =  (msmarco['sia_score']>0)  & (msmarco['sia_score']<=0.9)
is_0 =  msmarco['sia_score'] == 0

In [419]:
msmarco_new=msmarco[is_0]

In [420]:
len(msmarco_new)

335

In [421]:
final_dataframe=final_dataframe.append(msmarco_new.sample(n=335),ignore_index = True)

# HOTPOT QA

In [13]:
 hotpotqa['sia_score']= hotpotqa['sia_score']*4/5

In [15]:
j=0
for i in range(len(hotpotqa['exact_ans'])):
    if(hotpotqa['exact_ans'][i]==True):
        hotpotqa['sia_score'][i]=4
        j=j+1
print(j)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

10040

In [26]:
j=0
for i in range(len(hotpotqa['sia_score'])):
    if(hotpotqa['sia_score'][i]<0.45):
        j=j+1
        hotpotqa['sia_score'][i]=0
print(j)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

1509

In [68]:
is_4 = hotpotqa['sia_score'] == 4
is_3_4 =  (hotpotqa['sia_score']>=3)  & (hotpotqa['sia_score']<=3.9)
is_2_3 =  (hotpotqa['sia_score']>=2)  & (hotpotqa['sia_score']<=2.9)
is_1_2 =  (hotpotqa['sia_score']>=1)  & (hotpotqa['sia_score']<=1.9)
is_0_1 =  (hotpotqa['sia_score']>0)  & (hotpotqa['sia_score']<=0.9)
is_0 =  hotpotqa['sia_score'] == 0

In [69]:
hotpotqa_new=hotpotqa[is_0]

In [70]:
len(hotpotqa_new)

1509

In [71]:
hotpotqa.head(20)

,question,sentence,sia_score,exact_ans
0,Which magazine was started first Arthur's Maga...,Radio City is India's first private FM radio s...,0.000,False
1,Which magazine was started first Arthur's Maga...,Football in Albania existed before the Albania...,0.000,False
2,Which magazine was started first Arthur's Maga...,"Echosmith is an American, Corporate indie pop ...",0.000,False
3,Which magazine was started first Arthur's Maga...,Women's colleges in the Southern United States...,0.864,False
4,Which magazine was started first Arthur's Maga...,"The First Arthur County Courthouse and Jail, w...",0.000,False
5,Which magazine was started first Arthur's Maga...,Arthur's Magazine (1844â€“1846) was an American ...,4.000,True
6,Which magazine was started first Arthur's Maga...,The 2014â€“15 Ukrainian Hockey Championship was ...,0.000,False
7,Which magazine was started first Arthur's Maga...,First for Women is a woman's magazine publishe...,1.576,False
8,Which magazine was started first Arthur's Maga...,The Freeway Complex Fire was a 2008 wildfire i...,0.000,False
9,Which magazine was started first Arthur's Maga...,William Rast is an American clothing line foun...,0.000,False
10,The Oberoi family is part of a hotel company t...,The Ritz-Carlton Jakarta is a hotel and skyscr...,1.424,False
11,The Oberoi family is part of a hotel company t...,The Oberoi family is an Indian family that is ...,2.400,False
12,The Oberoi family is part of a hotel company t...,"Ishqbaaaz (English: ""Lovers"") is an Indian dra...",0.848,False
13,The Oberoi family is part of a hotel company t...,"The Hotel Tallcorn is located in Marshalltown,...",0.664,False
14,The Oberoi family is part of a hotel company t...,Rai Bahadur Mohan Singh Oberoi (15 August 1898...,1.336,False
15,The Oberoi family is part of a hotel company t...,"Hotel Bond is a historic hotel, built in two s...",0.816,False
16,The Oberoi family is part of a hotel company t...,The Oberoi Group is a hotel company with its h...,4.000,True
17,The Oberoi family is part of a hotel company t...,Future Fibre Technologies (FFT) is a fiber opt...,4.000,True
18,The Oberoi family is part of a hotel company t...,The 289th Military Police Company was activate...,1.192,False
19,The Oberoi family is part of a hotel company t...,The Glennwanis Hotel is a historic hotel in Gl...,0.936,False

In [72]:
final_dataframe=final_dataframe.append(hotpotqa_new.sample(n=1506),ignore_index = True)

# Final Dataframe

In [40]:
final_dataframe=pd.DataFrame(columns=["sentence","question","sia_score"])

In [74]:
final_dataframe.to_csv("D:/FALL_2020/CSE576 NLP/Course_Project/Phase_2_Synthetic_Data/combined_dataset_group/hotpotqa10k.csv",index=False)

In [73]:
len(final_dataframe)

10000